/* #EB4E29 rgb(	235, 78, 41)- Primary Color - Orange*/
/* #FCFEFF - Secondary Color - White */
/* #35363A - Black Color */
/* reset-component {
    width: 100%;
    height: 100%;
    background-color: yellow;
} */
/* ion-content {
    width: 100vw;
    height: 100vh;
}
 */
 #reset-container {
    height: calc(100vh - 700px);
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-content:space-around;
}
#reset-logo {
    width:100%;
    display: flex;
    flex: 0 0 100px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    /* justify-content: flex-end; */
}
#reset-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
}

@media only screen and (max-width: 600px){
    #reset-form > form {
        display: flex; 
        flex-direction: column;
        flex: 1 0 auto;
    }
}
@media only screen and (min-width: 600px){
    #reset-form > form {
        display: flex; 
        flex-direction: column;
        flex: 1 0 auto;
    }
}

/* @media only screen and (max-width: 600px){
    #reset-form > form {
        display: flex; 
        flex-direction: column;
        flex: 0 0 300px
    }
} */


@media only screen and (min-width: 768px){
    #reset-form > form {
        display: flex; 
        flex-direction: column;
        flex: 1 0 auto;
    }
}

#reset-form-container > .space-eater {
    display: flex;
    /* flex: 0 0 300px; */
    flex: 1 0 auto;
}

#reset-form-container > #reset-form {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#reset-form-container > #create-account-container {
    display: flex;
    flex: 0 0 50px;
    flex-direction: row;

}
#reset-space-container {
    display: flex;
    flex: 0 0 600px;
    
}

#reset-form-header {
    display: flex;
    flex: 0 0 75px;
    flex-direction: column;
    align-items: center;
}

#reset-form-header > .reset-header {
    font-size: 26px;
    color: #EB4E29;
    font-weight: bolder;
    background: /* gradient can be an image */
    linear-gradient(
      to right, 
      #EB4E29 0%,
      #ffa73d 
    )
    left 
    bottom
    no-repeat;
    background-size:100% 3px ;
    padding:10px;
}
#reset-form-header > .reset-subheader {
    font-size: 14px;
    color: rgb(120,120,120);
}
.reset-hyperlink {
    display: flex;
    font-size: 12px;
    text-decoration: underline;
    color: rgb(120,120,120);
    cursor:pointer;
    justify-content: center;
    cursor: pointer;
}

input:focus::-webkit-input-placeholder 
{
     color: transparent;
}
input::-webkit-input-placeholder 
{
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 9px;
}
/*
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eb4e29+0,ffa73d+100,000000+100 */
/*background: #eb4e29; /* Old browsers */
/*background: -moz-linear-gradient(left, #eb4e29 0%, #ffa73d 100%, #000000 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(left, #eb4e29 0%,#ffa73d 100%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right, #eb4e29 0%,#ffa73d 100%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb4e29', endColorstr='#000000',GradientType=1 ); /* IE6-9 */


.margin-class {
    margin-top:10px;
    margin-bottom: 10px;
}