<ion-header translucent>
	<ion-toolbar color="primary"  mode="md">
		<ion-buttons slot="start">
			<ion-button [routerLink]="['/me']">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Reset Password</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content id="reset-container">
    <div id="reset-form-container">
		<div class="space-eater"></div>
		<div id="reset-logo">
			<img src="../../assets/logo/diy-logo-transparent.png" width="180"/>
		</div>
		<div id="reset-form">
			<form [formGroup]="resetForm" (submit)="reset()">
				<div id="reset-form-header">
					<p class="reset-header"> Reset Password </p>
					<p class="reset-subheader" > Please provide your email address </p>
				</div>
				<div id="form-container">
					<ion-item>
						<ion-input type="email" placeholder="Email Address" required="required" formControlName="email"></ion-input>
					</ion-item>
					<div class="space-eater"></div>
					<button type="submit" class="submit-button margin-class" [disabled]="!resetForm.valid">Send Link </button>
				</div>
			</form>
		</div>
		<div class="space-eater"></div>
    </div>
    <div id="reset-space-container"></div>
</ion-content>