<ion-header translucent>
	<ion-toolbar color="primary" mode="md">
		<ion-buttons slot="start">
			<ion-button [routerLink]="['/me']">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Contact DIY</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content id="contact-us-container" fullscreen padding>
	<div id="contact-us-form-container">
		<div id="contact-us-form">
			<form [formGroup]="contactForm" (submit)="login()">
				<div id="contact-us-form-header">
					<p class="contact-us-header">  Contact Us</p>
					<p class="contact-us-subheader" > We would like to hear it from you! </p>
				</div>
				<div id="form-container">
					<ion-item>
						<ion-input type="text" placeholder="Full Name" required="required" formControlName="name"></ion-input>
						<ion-icon name="person" slot="start"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-input type="email" placeholder="Email Address" required="required" formControlName="email"></ion-input>
						<ion-icon name="mail" slot="start"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-textarea
							placeholder="Message" required="required" formControlName="message" rows="6" cols="20">
						</ion-textarea>
						<ion-icon name="chatboxes" slot="start"></ion-icon>
					</ion-item>
					
					<div class="space-eater"></div>
					<button type="submit" class="submit-button margin-class" [disabled]="!contactForm.valid">Send </button>
				</div>
			</form>
		</div>
	</div>
</ion-content>