<ion-header translucent>
	<ion-toolbar color="primary"  mode="md">
		<ion-title>Branches Near You</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<ion-list *ngIf="dataLoaded">
		<ion-list-header>
			<ion-searchbar placeholder="Search for Branch" showCancelButton="never" (ionInput)="filterList($event)" debounce="500"></ion-searchbar>
			<!-- <ion-input type="text" placeholder="Search" required="required"></ion-input> -->
		</ion-list-header>
		<ng-container *ngIf="branchList.length == 0">
			<div class="no-data">
				No Data
			</div>
		</ng-container>
		<ng-container *ngIf="branchList.length > 0">
			<ion-item button class="navigation-item" (click)="routeBuilder(branch.id)" *ngFor="let branch of filteredBranchList" >
				<ion-thumbnail slot="start">
					<ion-img src="../../assets/placeholder.jpg"></ion-img>
				</ion-thumbnail>
				<ion-label class="navigation-details">
					<div class="navigation-title" *ngIf="branch.name != null">{{branch.name}}</div>
					<div class="navigation-title" *ngIf="branch.name == null">DIY Hardware</div>
					<div class="space-eater"></div>
					<div class="navigation-subtitle" *ngIf="branch.address != null">{{branch.address}}</div>
					<div class="navigation-subtitle" *ngIf="branch.address == null">No address specified</div>
				</ion-label>
				<div class="navigation-distance">
					<div class="navigation-total">4</div>
					<div class="space-eater"></div>
					<div class="navigation-unit">km</div>
				</div>
				<ion-ripple-effect type="bounded"></ion-ripple-effect>
			</ion-item>
		</ng-container>
	</ion-list>
	<ion-list *ngIf="!dataLoaded">
		<ion-list-header>
		</ion-list-header>
		<ion-item button class="navigation-item" (click)="routeBuilder(branch.id)" *ngFor="let number of [1,2,3,4,5]" >
			<ion-thumbnail slot="start">
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-thumbnail>
			<ion-label class="navigation-details">
				<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
				<div class="space-eater"></div>
				<ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>