<ion-header translucent>
	<ion-toolbar color="primary">
		<ion-title>Branches Near You</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<ion-list>
		<ion-list-header>
			<ion-input type="text" placeholder="Search" required="required"></ion-input>
		</ion-list-header>
		<div class="no-data" ng-if="branchList.length == 0">
			No Data
		</div>
		<ion-item button class="navigation-item" (click)="routeBuilder(branch.id)" ng-if="branchList.length > 0" *ngFor="let branch of branchList" >
			<ion-thumbnail slot="start">
					<ion-img src="../../assets/placeholder.jpg"></ion-img>
			</ion-thumbnail>
			<ion-label class="navigation-details">
				<div class="navigation-title">DIY Hardware Venice Grand Canal Mall</div>
				<div class="space-eater"></div>
				<div class="navigation-subtitle">{{branch.address}}</div>
			</ion-label>
			<div class="navigation-distance">
				<div class="navigation-total">4</div>
				<div class="space-eater"></div>
				<div class="navigation-unit">km</div>
			</div>
			<ion-ripple-effect type="bounded"></ion-ripple-effect>
		</ion-item>
	</ion-list>
</ion-content>