<ion-content id="login-container">
    <div id="login-form-container">
		<div class="space-eater"></div>
		<div id="login-logo">
			<img src="../../assets/logo/diy-logo-transparent.png" width="180"/>
		</div>
		<div id="login-form">
			<form [formGroup]="loginForm" (submit)="login()">
				<div id="login-form-header">
					<p class="login-header"> Login </p>
					<p class="login-subheader" > Welcome Back! Log-in to your account </p>
				</div>
				<div id="form-container">
					<ion-item>
						<ion-input type="email" placeholder="Email Address" required="required" formControlName="email"></ion-input>
						<ion-icon name="mail" slot="start"></ion-icon>
					</ion-item>
					<ion-item>
						<ion-input type="password" placeholder="Password" required="required" formControlName="password"></ion-input>
						<ion-icon name="lock" slot="start"></ion-icon>
					</ion-item>
					<div class="space-eater"></div>
					<button type="submit" class="submit-button margin-class" [disabled]="!loginForm.valid">Login </button>
					<a routerLink="/me/reset-password" class="login-hyperlink"> Forgot your Password?  Reset it </a>
				</div>
			</form>
		</div>
		<a routerLink="/me/create-account" class="create-hyperlink"> Sign up </a>
		<div class="space-eater"></div>
    </div>
    <div id="login-space-container"></div>
</ion-content>
