<ion-header translucent>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button [routerLink]="['/me']">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Scan</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div id="scan-container">
		<div id="scan-header">
			<div id="scan-details">
				<div id="scan-earned"> {{points}} </div>
				<div id="scan-subtitle">points earned</div>
			</div>
		</div>
		<div id="scan-body">
			<ion-button expand='block' margin (click)="goToBarcodeScan()">Click to scan a barcode</ion-button>
		</div>
	</div>
	
</ion-content>