<ion-header translucent>
    <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button [routerLink]="['/me/profile-menu']">
			<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
      <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen padding>
	<div id="change-password-container">
		<form [formGroup]="changePasswordForm" (submit)="reset()">
			<ion-item>
				<ion-input type="password" placeholder="Old Password" required="required" formControlName="currentPassword"></ion-input>
			</ion-item>
			<div class="space-eater"></div>

			<ion-item>
				<ion-input type="password" placeholder="New Password" required="required" formControlName="newPassword"></ion-input>
			</ion-item>
			<div class="error-notification-container" *ngIf="formValidator.newPassword.errors?.pattern" >
				<div class="red-text">Password must contain more than 8 characters, 1 upper case letter, 1 number and 1 special character</div>
			</div>
			<div class="space-eater"></div>

			<ion-item>
				<ion-input type="password" placeholder="Confirm Password" required="required" formControlName="confirmPassword"></ion-input>
			</ion-item>
			<div class="error-notification-container" *ngIf="formValidator.confirmPassword.hasError('mustMatch')" >
				<div class="red-text">Passwords must match</div>
			</div>
			
			<div class="custom-space-eater"></div>
			<button type="submit" class="submit-button" [disabled]="!changePasswordForm.valid">Change Password </button>
			
		</form >
	</div>
</ion-content>