#change-password-container {
    display: flex;
    flex-direction:column;
    height: calc(100% - 5px);
}

#change-password-container > form {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
}
#change-password-container > form > .space-eater {
    display: flex;
    flex: 0 0 10px;
}
#change-password-container > form > .custom-space-eater {
    display: flex;
    flex: 1 0 auto;
}

#change-password-container > form > .error-notification-container {
    display: flex;
    flex: 0 0 50px;
    padding-top: 10px;
}

.error-notificaiton {
    color: var(--ion-color-danger);
}