<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title>Redeem Points</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
	<div id="redeem-container">
		<div id="redeem-header">
			<div id="redeem-wallet">
				<div id="redeem-earned"> 5000 </div>
				<div id="redeem-subtitle">points earned</div>
			</div>
		</div>
		<div id="redeem-body">
			<ngx-barcode6
				[bc-format]="'MSI'"
				[bc-value]="'12345678901231'"
				[bc-display-value]="true"
			  >
			</ngx-barcode6>
			<div id="redeem-note">Please present this code to the cashier for the transaction.</div> 
		</div>
	</div>
	
</ion-content>