/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '../node_modules/ionic4-auto-complete/auto-complete';
// @import "../../node_modules/ionic4-auto-complete/auto-complete";
/* Inputs*/
ion-auto-complete > ul {
    width: 100%;
    bottom: auto !important;
    left: 0 !important;
}
body {
    font-family: "Times New Roman", Times, serif !important;
}
.scroll-content {
    padding-bottom: 0 !important;
}

// select:hover, select:focus {
//     border: 2px solid #EB4E29;
// }

  
textarea:hover, textarea:focus {
    border: 2px solid #EB4E29;
    /* border-color: #EB4E29; */
}

ion-datetime {
    --padding-start: 2px;
}

.datetime-text .datetime-placeholder {
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 9px;
}

.input-group > .label {
    font-size: 14px;
    font-weight: 600;
}
.submit-button {
    position: relative;
    height: 40px;
    // margin: 10px 7px;
    padding: 5px 5px;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 2px;
    /* color: #EB4E29; */
    color: whitesmoke;
    background: rgba(235, 78, 41, 1);
    /* background: transparent; */
    border: 1px solid rgba(235, 78, 41, 0.5);
    border-radius: 2px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    width: 100%;
}
.cancel-button {
    position: relative;
    height: 45px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 2px;
    /* color: #EB4E29; */
    color: Black;
    background: rgba(255,255,255, 1);
    /* background: transparent; */
    border: 1px solid rgba(100,100,100, 0.5);
    border-radius: 2px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.submit-button:disabled {
    background-color: gray;
    color: white;
    transition: none !important;
}

.green-text {
    color: var(--ion-color-success);
    font-weight: bolder;
}

.red-text {
    color:  var(--ion-color-danger);
    font-weight: bolder;
    font-size: 12px;
}