<ion-header translucent>
	<ion-toolbar color="primary" mode="md">
		<ion-buttons slot="start">
			<ion-button [routerLink]="['/me/profile-menu']">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Terms and Conditions</ion-title>
		<ion-title class="subtitle">Effective as of</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<ion-card>
		<!-- <ion-card-header>
			<ion-card-title>Terms and Conditions</ion-card-title>
			<ion-card-subtitle>Effective as of </ion-card-subtitle>
		</ion-card-header> -->
		<ion-card-content>
			<div class="title">Terms</div>
			<div class="content">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</div>
		</ion-card-content>
		<ion-card-content>
			<div class="title">Terms</div>
			<div class="content">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</div>
		</ion-card-content>
		<ion-card-content>
			<div class="title">Terms</div>
			<div class="content">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</div>
		</ion-card-content>
		<ion-card-content>
			<div class="title">Terms</div>
			<div class="content">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</div>
		</ion-card-content>
		<ion-card-content>
			<div class="title">Terms</div>
			<div class="content">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</div>
		</ion-card-content>
		<ion-card-content>
			<div class="title">Terms</div>
			<div class="content">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</div>
		</ion-card-content>
	</ion-card>
</ion-content>